@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.b {
  border: 2px solid blue;
}
.hide {
  display: none;
}
.header {
  height: 15%;
  border-radius: 20px;
  background-color: rgb(9, 93, 250);
}
/* mobile */
.back {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  position: absolute;
  left: 10px;
  width: 150px;
  top: 10px;
  cursor: pointer;
}

.galochka {
  color: rgb(3, 240, 3);
  font-weight: 900;
}
/* /mobile */
.profile-img {
  height: 100px;
  width: auto;
  border-radius: 50%;
  background-color: #000;
}
.profile-info {
  height: 50%;
}
.ai-name {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .back {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    position: absolute;
    left: 140px;
    width: 150px;
    cursor: pointer;
  }
  .back:hover {
    color: rgb(247, 0, 0);
  }
  .galochka {
    color: rgb(3, 240, 3);
    font-weight: 900;
  }
  .ai-name {
    font-size: 2rem;
  }
}
/* chat room */
.chat-room {
  min-height: 56vh;
  height: auto;
  max-height: 100vh;
  border: 2px solid rgb(9, 93, 250);
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.no-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50vh;
}
.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  padding: 20px 0;
}

.chat::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.ask-pocket {
  display: flex;
  justify-content: end;
}
.ask {
  background-color: aliceblue;
  min-width: 10%;
  max-width: 40%;
  height: auto;
  padding: 10px;
  font-weight: 600;
  border-radius: 15px 15px 0 15px;
}
.response-pocket {
  display: flex;
}
.response {
  background-color: rgb(44, 44, 226);
  min-width: 10%;
  max-width: 40%;
  height: auto;
  padding: 10px;
  border: 2px solid rgb(44, 44, 226);
  color: rgb(201, 224, 209);
  font-weight: 500;
  border-radius: 15px 15px 15px 0;
}
/* chat yozmoqda... */
.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
/* /yozmoqda... */
.input-box {
  width: 90%;
}
input {
  width: 100%;
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 10px;
  color: wheat;
  outline: none;
}
input::placeholder {
  color: rgb(176, 194, 194);
}
input:focus {
  border: 3px solid rgb(6, 245, 58);

  transform: scale(1.001);
}
.send-btn {
  width: 10%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  margin-left: 5px;
  border-radius: 10px;
  color: rgb(2, 2, 28);
  font-weight: 700;
}
